# Import Libraries

In [1]:
import pandas as pd

# Obtain Data

Read csv file with Tempurature data into Pandas and drop non-NYC tempurature columns

In [2]:
df = pd.read_csv('Data/temperature.csv')
df = df[['datetime','New York']]
df.columns = ['Period', 'NYC Tempurature']
df.head()

          Period  NYC Tempurature
0  10/1/12 12:00              NaN
1  10/1/12 13:00       288.220000
2  10/1/12 14:00       288.247676
3  10/1/12 15:00       288.326940
4  10/1/12 16:00       288.406203

# Scrub Data

Use df.info() to determine what dataset scrubbing needed

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 2 columns):
Period             45253 non-null object
NYC Tempurature    44460 non-null float64
dtypes: float64(1), object(1)
memory usage: 707.2+ KB